aiohttp==3.8.6 ; python_version >= "3.8" and python_version < "4"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "4"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "4"
attrs==23.1.0 ; python_version >= "3.8" and python_version < "4"
charset-normalizer==3.3.0 ; python_version >= "3.8" and python_version < "4"
frozenlist==1.4.0 ; python_version >= "3.8" and python_version < "4"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
msgpack==1.0.7 ; python_version >= "3.8" and python_version < "4"
multidict==6.0.4 ; python_version >= "3.8" and python_version < "4"
orjson==3.9.7 ; python_version >= "3.8" and python_version < "4"
websockets==11.0.3 ; python_version >= "3.8" and python_version < "4"
yarl==1.9.2 ; python_version >= "3.8" and python_version < "4"
