name: Test
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'poetry.lock'
      - '.github/workflows/test.yml'

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Architectures
          - os: ubuntu-latest
            arch: amd64
            python-version: '3.13'
          - os: ubuntu-latest
            arch: arm64
            python-version: '3.13'
          - os: macos-latest
            arch: amd64
            python-version: '3.13'
          - os: macos-latest
            arch: arm64
            python-version: '3.13'
            # Python versions
          - os: ubuntu-latest
            arch: amd64
            python-version: '3.12'
          - os: ubuntu-latest
            arch: amd64
            python-version: '3.11'
          - os: ubuntu-latest
            arch: amd64
            python-version: '3.10'
          - os: ubuntu-latest
            arch: amd64
            python-version: '3.9'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install project
        run: poetry install
      - name: Run lint
        run: poetry run make lint
        if: matrix.python-version != '3.9'
      - name: Run tests
        run: poetry run make test
